<style>
.unannotated {
    color: gray;
    background: #eee;
}
.noent, .noent a {
    color: red;
}
.noclass, .noclass a {
    color: green;
}
.nomatch {
    background: #8ff;
}
.match {
    color: #0aa;
}
.noprop {
    background: lightgreen;
}
tr.hidden {
    display: none;
}
</style>

{% set kbinfo = kbinfo | default({}, true) %}
{% set gold = table.get('gold', {}) %}
<table class="dataframe">
    <thead>
        <!-- legend if asked for -->
        
    </thead>
    
    {# COLUMN NUMBERS #}
    <tr style="font-size:90%">
        <th><abbr title="{{table.get('_id', '')}}">?</abbr></th>
        {% for ci in range(table.rows[0] | length) %}
            <th style="font-size:90%">{{ci}}</th>
        {% endfor %}
    </tr>
    
    {# CLASSES #}
    {% if table.classes %}
        <tr>
            <th style="font-size:90%"><abbr title="Column Class">&#x2208;</abbr></th>
            {% for ci in range(table.rows[0] | length) %}
                {% set cgold = gold.get('classes',{}).get((ci|string), {}) %}
                <!-- cgold: {{cgold}} -->
                {% set somecorrect = [] %}
                <th>
                    {% set classes = table.classes[ci|string] %}
                    {% for cls in classes %}
                        {% set incorrect = cgold and (cls not in cgold) %}
                        {% set noclass = (kbinfo and ((cls not in kbinfo) or not kbinfo[cls].inlinks)) or incorrect %}
                        <nobr class="{{'noent' if noclass else ''}}">
                            {% set score = classes.get(cls) %}
                            {% set cname = cls.split('/')[-1].split('#')[-1] %}
                            <a href="{{cls}}" data-id="{{cls}}" class="kblink" title="{{cls}} ({{'%.2f'%score}})">
                                {{cname}}
                                {% if incorrect %}
                                    ❌
                                {% else %}
                                    {% if gold and not cgold %}
                                        ❓
                                    {% else %}
                                        {% if somecorrect.append(cname) %}{% endif %}
                                    {% endif %}
                                {% endif %}
                            </a>
                        </nobr>
                    {% endfor %}
                    {% if not somecorrect %}
                        {% for cls in cgold %}
                            {% set cname = cls.split('/')[-1].split('#')[-1] %}
                            <a href="{{cls}}" data-id="{{cls}}" class="kblink noent" title="{{cls}}">{{cname}}💡</a>
                        {% endfor %}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
    {% endif %}
    
    {# PROPERTIES #}
    {% for fromci in range(table.rows[0] | length) %}
        {% set fromci = (fromci | string) %}
        {% if fromci in table.properties %}
            {% set fromprops = table.properties[fromci] %}
            <tr>
                <th style="font-size:90%">
                    <abbr title="Property from subject-column {{fromci}}">
                        {{fromci}}
                    </abbr>
                </th>
                {% for toci in range(table.rows[0] | length) %}
                    {% set pgold = gold.get('properties',{}).get((fromci|string), {}).get((toci|string), {}) %}
                    <!-- pgold: {{pgold}} -->
                    {% set somecorrect = [] %}
                    {% set props = fromprops[toci|string] %}
                    {% set noprops = (kbinfo and (not (props | lookup(kbinfo) | any))) %}
                    <th class="{{'noent' if noprops else ''}}">
                        {% for prop in props %}
                            {% set incorrect = pgold and (prop not in pgold) %}
                            {% set score = props.get(prop) %}
                            {% set pname = prop.split('/')[-1].split('#')[-1] %}
                            <nobr class="{{'noent' if incorrect else ''}}">
                            <a href="{{prop}}" data-id="{{prop}}" class="kblink" title="{{prop}} ({{'%.2f'%score}})">
                                {{pname}}
                                {% if incorrect %}
                                    ❌
                                {% else %}
                                    {% if gold and not pgold %}
                                        ❓
                                    {% else %}
                                        {% if somecorrect.append(cname) %}{% endif %}
                                    {% endif %}
                                {% endif %}
                            </a>
                            </nobr>
                        {% endfor %}
                        {% if not somecorrect %}
                            {% for prop in pgold %}
                                {% set pname = prop.split('/')[-1].split('#')[-1] %}
                                <a href="{{prop}}" data-id="{{prop}}" class="kblink noent" title="{{prop}}">{{pname}}💡</a>
                            {% endfor %}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
        {% endif %}
    {% endfor %}
    
    {# COLUMN HEADERS #}
    {% for hrow in table.headers %}
        <tr>
            <th></th>
            {% for c in hrow %}
                <th>{{c}}</th>
            {% endfor %}
        </tr>
    {% endfor %}
    
    {# TABLE ROWS #}
    
    {% for ri in range(table.rows | length) %}
        {% set row = table.rows[ri] %}
        {% set rowannotated = (ri|string) in annotated_rows %}
        {% set rowhidden = (hidden_rows or {}).get(ri|string) %}
        <tr class="{{'unannotated' if not rowannotated else ''}} {{'hidden' if rowhidden else ''}}">
            <td></td>
            {% for ci in range(row | length) %}
                {% set classes = [] %}
                {% set celltext = row[ci] %}
                <!-- {{ classes.append('key') if ci == table.keycol else 'nokey' }} -->
                {% set ci = (ci | string) %}
                {% set ri = (ri | string) %}
                    
                {% set ents = table.entities.get(ci, {}).get(ri, {}) %}
                {% set ent = (ents | list | select | first | string) %}
                <!-- "noent" means that the annotated entity is not in the KG -->
                <!-- {{ (classes.append('noent') if (
                            kbinfo and ents and rowannotated and (
                                (ent not in kbinfo) or (not kbinfo[ent].inlinks + kbinfo[ent].outlinks)
                            )
                        ) else 'ent') }} -->
            
                {% set goldents = gold.get('entities',{}).get(ci, {}).get(ri, {}) if 'gold' in table else {} %}
                {% set goldent = (goldents | list | select | first | string) %}
                <!-- goldent: {{goldent}}; correct: {{ent == goldent}} -->
                {% set iscorrect = ents and rowannotated and goldents and (ent == goldent) %}
                <!-- {{classes.append('incorrect') if not iscorrect else 'correct'}} -->
                
                {% if kblinks %}
                    <!-- {{ classes.append('noclass') if ent and table.classes[ci] and not kblinks.entity_matchclass[ent] else 'class' }} -->

                    {% for fromci, fromprops in table.properties.items() %}
                        {% set froments = table.entities.get(fromci, {}).get(ri, {}) %}
                        {% set froment = (froments | list | select | first | string) %}
                        {% set props = fromprops.get(ci, {}) %}
                        {% if (not noent) and props and celltext and rowannotated %}
                            <!-- {{ classes.append('noprop') if not (props | lookup(kblinks.entity_prop_exists.get(froment, {})) | any) else 'prop' }} -->
                            <!-- {{ classes.append('nomatch') if not kblinks.rownr_colnr_matches.get(ri, {}).get(ci, {}) else 'match' }} -->
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <td class="{{ ' '.join(classes) }}">
                    {% if ent %}
                        {% if gold and not iscorrect %}
                            {{celltext}}
                            <nobr>
                                <a href="{{ent}}" data-id="{{ent}}" class="kblink" title="{{ent}}">
                                    {% if goldents %}❌{% endif %}
                                    {% if gold and not goldents %}❓{% endif %}
                                </a>
                                {% if goldent %}
                                    <a href="{{goldent}}" data-id="{{goldent}}" class="kblink" title="{{goldent}}">💡</a>
                                {% endif %}
                            </nobr>
                        {% else %}
                            <a href="{{ent}}" data-id="{{ent}}" class="kblink" title="{{ent}}">{{celltext}}</a>
                        {% endif %}
                    {% else %}
                        {{celltext}}
                        {% if goldent %}
                            <a href="{{goldent}}" data-id="{{goldent}}" class="kblink" title="{{goldent}}">💡</a>
                        {% endif %}
                    {% endif %}
                    {% if match and (1 > match.score) %}
                        <span class="match">[{{match.lit}}]</span>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>