{% extends 'base.html' %}

{% block title %}
    {{dataset}}: {{tablename}}
{% endblock %}

{% block abs %}
<div id="kblinkbox"></div>
{% endblock %}

{% block header %}
<nav>
    <a href="/">🌮 takco</a>

    Dataset: <a href="{{ url_for('dataset', dataset=dataset) }}">{{dataset}}</a>

    <span>    
        <a href="{{ url_for('table', dataset=dataset, table=prev_table) }}">👈</a>
        {% from 'base.html' import set_table %}
        {{ set_table(dataset, tablename, tablenames) }}
        <a href="{{ url_for('table', dataset=dataset, table=next_table) }}">👉</a>
    </span>

    {% from 'base.html' import set_kb %}
    {{ set_kb(kbid, kbs) }}
    
</nav>
{% endblock %}

{% block content %}

<div id="legend">
    <b>Legend</b><br>
    <span class="unannotated">unannotated</span><br>
    <span class="noent">annotated entity not in KG</span><br>
    <span class="noclass">entity class novel</span><br>
    <span class="noprop">entity property novel</span><br>
    <span class="nomatch">property value novel</span><br>
    <span class="match">[matched value in KG]</span><br>
</div>



<script id="tmpl-kblinkbox" type="x-tmpl-mustache">
{% raw %}
    <h3>{{uri}}</h3>
    <p>
    {{#size}}Size: {{size}} triples{{/size}}
    {{^size}}{{inlinks}} inlinks, {{outlinks}} outlinks.{{/size}}
    </p>
    {{#props}}
        <strong>{{uri}}</strong><ul>{{#vals}}<li>{{.}}</li>{{/vals}}</ul>
    {{/props}}
{% endraw %}
</script>
<script>
    const kbinfo = {{kbinfo | tojson}};
    $(function(){
        $('.kblink').on('mouseover', function(e){
            $(this).removeAttr('title');
            var pos = $(this).offset()
            var info = kbinfo[$(this).attr('data-id')]
            kblinkbox = $('#kblinkbox')
                .html(Mustache.render($('#tmpl-kblinkbox').html(), info))
                .css({position:'absolute', top: pos.top + $(this).height() + 10, left:pos.left})
                .show()
            $(this).on('mouseout', function(){
                $('#kblinkbox').hide();
            })
        })
    })
</script>

<h2>Novelty of table annotations</h2>
{% if novelty.values()|select|first %}
    <div style="display:flex">
        {% for typ,typname in {'lbl':'Label', 'cls':'Class', 'prop':'Property'}.items() %}
            {% set n = novelty.get(typ, 0) %}
            {% set nomatch = novelty.get(typ+'_nomatch', 0) %}
            {% set total = novelty.get(typ+'_total', 0) %}
            {% set redundant = novelty.get(typ+'_redundant', 0) %}
            <div style="width:200px; text-align:center; margin:0 1em">
                <b>{{typname}}</b><br>
                <script>
                    $(function(){ 
                        pie('.{{typ}}-novelty-pie', {{n}}, {{nomatch}}, {{redundant}}, 50) 
                    })
                </script>

                <div class="{{typ}}-novelty-pie" style="margin:.5em"></div>
                <small>
                {{bignum(n)}} / {{bignum(total)}} = 
                {{'%d' % (100 * n / total) if total else 0}}% 
                att. novel<br>
                {{bignum(nomatch)}} / {{bignum(total)}} = 
                {{'%d' % (100 * nomatch / total) if total else 0}}%
                val. novel
                </small>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% include 'onlytable.html' %}

{% endblock %}