<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="http://getskeleton.com/dist/css/normalize.css">
        <link rel="stylesheet" href="http://getskeleton.com/dist/css/skeleton.css">

        <title>Experiment overview</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>Experiments</h1>
            </div>
            <div>
            <ul>
            {% for exp in experiments %}
                <li><a href="/overview/{{exp.name}}">{{exp.name}}</a> ({{exp.n_tables}})</li>
            {% endfor %}
            </ul>
            </div>
        </div>
        
    </body>
</html>